@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer

@{
    var isOwner = await UserManager.IsInOwnerRoleAsync(await UserManager.GetUserAsync(User));
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">@Localizer["Profile"]</a></li>
    @if (!isOwner)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">@Localizer["PersonalData"]</a></li>
    }
</ul>
