@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var isAdmin = await UserManager.IsInAdminRoleAsync(await UserManager.GetUserAsync(User));
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (!isAdmin)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    }
</ul>
